<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Local files">
  <ion-content class="thumbnailwrapper">
    <img class="thumbnail" ng-repeat="image in images" ng-src="{{image}}" ng-click="showPhoto(0)">
    <p id="asds">

    </p>
  </ion-content>
  <div id="showPhoto"><img ng-src="{{shownPhoto}}" alt="Shown photo" ng-click="closePhoto()"></div>
</ion-view>
