<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Take picture" icon-off="ion-social-instagram" icon-on="ion-social-instagram-outline" on-select="takePhoto()">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Local" icon-off="ion-android-phone-portrait" icon-on="ion-android-phone-portrait" href="#/tab/local">
    <ion-nav-view name="tab-local"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cloud" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/cloud">
    <ion-nav-view name="tab-cloud"></ion-nav-view>
  </ion-tab>

  <ion-tab title="All photos" icon-off="ion-images" icon-on="ion-images" href="#/tab/all">
    <ion-nav-view name="tab-all"></ion-nav-view>
  </ion-tab>

</ion-tabs>
